.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background:#CDC9F3;
}

.radio-btns{
    width: 100%;
    display: flex;
}